<Result Status="500"
        Title="Runner NOT connected!"
        SubTitle="Runner is NOT connected to the server">
    <Extra>
        <Button Type="primary">Go to setup</Button>
    </Extra>
</Result>
