@using Automaton.Studio.Resources
@using Automaton.Studio.Domain
@using Blazored.FluentValidation

<Form 
      Model="@Flow"
      Loading="loading"
      Layout="@FormLayout.Vertical"
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed"
      Class="flow-settings-form">
    <Validator>
        <FluentValidationValidator @ref="fluentValidationValidator" />
    </Validator>

    <ChildContent>
        <GridRow >
            <GridCol >
                <FormItem Label="Name">
                    <Input @bind-Value="@context.Name" Placeholder=@Placeholders.EnterFlowName />
                </FormItem>
            </GridCol>
        </GridRow>

        <FormItem >
            <Button Type="@ButtonType.Primary" HtmlType="submit">
                Submit
            </Button>
        </FormItem>
    </ChildContent>
</Form>

<style>
    .flow-settings-form {
        background-color: #fff;
        padding: 20px;
        height: calc(100vh - 140px);
        overflow: auto;
        overflow-x: hidden;
    }
</style>