@using Automaton.Studio.Steps

<StepDesigner Step=@Step>
    <div>
        <b>@Step.DisplayName</b>
    </div>
    <div>
        @Step.Description
    </div>
</StepDesigner>

@code {
    [Parameter]
    public CustomStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

