@using Automaton.Studio.Resources
@using Blazored.FluentValidation;
@inherits FeedbackComponent<NewVariableModel>

<Form Model="@model"
      LabelColSpan="4"
      WrapperColSpan="20">
    <Validator>
        <FluentValidationValidator @ref="validator" />
        @*We don't need a validation summary here because all validation is related to the Name field*@
        @*<ValidationSummary />*@
    </Validator>

    <ChildContent>
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" Placeholder=@Placeholders.EnterVariableName />
        </FormItem>
        <FormItem Label="Value">
            <Input @bind-Value="@context.Value" Placeholder=@Placeholders.EnterVariableValue />
        </FormItem>
    </ChildContent>
</Form>