@using Automaton.Studio.SampleActivity

<div class="designer-activity">
    <Row>
        <Col Flex=@("none")>
            <div class="designer-activity-icon-container">
                <Icon Type="form" Theme="outline" />
            </div>
        </Col>

        <Col Flex=@("auto")>
            @Activity.Text
        </Col>

        <Col Class="designer-activity-options">
            <div class="designer-activity-icon-container"><Icon Type="more" Theme="outline" /></div>
        </Col>
    </Row>
</div>

@code {
    [Parameter]
    public SampleActivity Activity { get; set; }
}
