@using Blazored.FluentValidation;
@inherits FeedbackComponent<NewCustomStepModel>

<Form @ref="form"
      Model="@flowModel"
      LabelColSpan="5">
    <Validator>
        <FluentValidationValidator @ref="fluentValidationValidator" />
    </Validator>

    <ChildContent>
        <FormItem Label="Name">
            <Input @bind-Value="@context.Name" Placeholder="Enter name" />
        </FormItem>
        <FormItem Label="Display Name">
            <Input @bind-Value="@context.DisplayName" Placeholder="Enter display name" />
        </FormItem>
        <FormItem Label="Description">
            <Input @bind-Value="@context.Description" Placeholder="Enter description" />
        </FormItem>
    </ChildContent>
</Form>