@using Automaton.Studio.Domain

@code {
    [Parameter]
    public StudioStep Step { get; set; }

    [Parameter]
    public int Line { get; set; }
}

@{
    if (Step.IsVisible())
    {
        <div class="step-line-number">

            @if (Step.IsExecuting)
            {
                <b>@(Line)</b>
            }
            else
            {
                @(Line)
            }

        </div>
    }
}

<style>
    .step-line-number {
        padding-bottom: 15px;
        text-align: center;
    }
</style>