@using Automaton.Studio.Components

<StepDesigner Step=@Step>
    <div>
        <b>@Step.Descriptor.DisplayName</b>
    </div>
    <div>
        Log <a href="" @onclick:preventDefault>@Step.Message</a> to console
    </div>
</StepDesigner>

@code {
    [Parameter]
    public EmitLogStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

