@using Automaton.Studio.Components

<StepComponent Step=@Step>
    <div>
        <b>@Step.Descriptor.DisplayName</b>
    </div>
    <div>
        Write <a href="" @onclick:preventDefault>'@Step.Text'</a> to console
    </div>
</StepComponent>

@code {
    [Parameter]
    public EmitLogStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

