@using Automaton.Studio.Components

<StepComponent Activity=@Activity>
    <div>
        <b>@Activity.Descriptor.DisplayName</b>
    </div>
    <div>
        Write <a href="" @onclick:preventDefault>'@Activity.Text'</a> to console
    </div>
</StepComponent>

@code {
    [Parameter]
    public EmitLogStep Activity { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

