@using Automaton.Studio.Steps

<StepDesigner Step=@Step>
    <div>
        <b>@Step.DisplayName</b>
    </div>
    <div>
        Log <span class="designer-expression">@Step.Message</span> to console
    </div>
</StepDesigner>

@code {
    [Parameter]
    public EmitLogStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

