@page "/designer"
@using Automaton.Studio.Activities
@using Automaton.Studio.Components
@using Plk.Blazor.DragDrop

@if (DesignerViewModel.Activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
<Layout>
    <Sider Theme="SiderTheme.Light" Style="height: 100vh; position: fixed; overflow: auto">
        <ActivitiesTree ></ActivitiesTree>
    </Sider>
    <Layout Style="padding-left: 200px; background-color: #FFF">
        <Content>
            <Dropzone Items="DesignerViewModel.Activities" InstantReplace="true">
                <DynamicActivityComponent Activity=@context />
            </Dropzone>
        </Content>
    </Layout>
</Layout>

}



