@page "/designer"
@using Automaton.Studio.Activities
@using Plk.Blazor.DragDrop

@if (activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <Dropzone Items="activities">
        <DynamicComponent Activity=@context />
    </Dropzone>
}



