@page "/designer"
@using Automaton.Studio.Activities

@if (activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h5>List with dynamic binding to <code>DynamicComponent</code>.</h5>
    <p>The selection of the view component is now encapsulated within the <code>DynamicComponent</code>.</p>
    @foreach (var activity in activities)
    {
        <DynamicComponent Activity=@activity />
    }
}



