@page "/designer"
@using Automaton.Studio.Activities
@using Automaton.Studio.Components
@using Plk.Blazor.DragDrop

@if (activities == null)
{
    <p><em>Loading...</em></p>
}
else
{
<Layout Style="height: 100vh; padding: 0; margin: 0">
    <Sider Theme="SiderTheme.Light" Style="overflow: auto; height: 100vh; padding: 0; margin: 0">
        <ActivitiesTree></ActivitiesTree>
    </Sider>
    <Layout Style="overflow: auto; height: 100vh; padding: 0; margin: 0">
        <Content>
            <Dropzone Items="activities" InstantReplace="true">
                <DynamicComponent Activity=@context />
            </Dropzone>
        </Content>
        <Footer>Footer</Footer>
    </Layout>
</Layout>

}



