@using Automaton.Studio.Activity

<DesignerActivityComponent Activity=@Activity>
    <div>
        <b>@Activity.Descriptor.DisplayName</b>
    </div>
    <div>
        Write <a href="" @onclick:preventDefault>'@Activity.Text'</a> to console
    </div>
</DesignerActivityComponent>

@code {
    [Parameter]
    public MessageBoxActivity Activity { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

