@page "/account"
@using AntDesign
@using Blazored.FluentValidation

<Layout Class="designer-container">

    <Sider Breakpoint="@BreakpointType.Lg"
           CollapsedWidth="64"
           @bind-Collapsed=@collapsed Theme="SiderTheme.Light">

        <Row>
            <Col Span="24">
            <div class="account-header">
                <h3>Settings</h3>
            </div>
            </Col>
        </Row>

        <Row>
            <div class="account-search">
                <Search Placeholder="Search settings" Size="@InputSize.Default"></Search>
            </div>
        </Row>

        <Row>
            <Col Span="24">
            <Menu Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{"1"})>
                <MenuItem Key="1" OnClick="NavigateToUserProfile">
                    <Icon Type="smile" Theme="outline" />
                    <span class="nav-text">Profile</span>
                </MenuItem>
                <MenuItem Key="2" OnClick="NavigateToUserSecurity">
                    <Icon Type="lock" Theme="outline" />
                    <span class="nav-text">Security</span>
                </MenuItem>
            </Menu>
            </Col>
        </Row>
    </Sider>

    <Content>

        <Header Class="header">
            <Row>
                <Col Flex=@("none") Class="page-title">
                <Space Size="@AntSizeLDSType.Large">
                </Space>
                </Col>
                <Col Class="right-actions">
                <Space Class="right-header-items">
                    <Button Icon="poweroff" OnClick="Logout">
                        Logout
                    </Button>
                </Space>
                </Col>
            </Row>
        </Header>

        <GridRow Justify="left" Align="left" Class="account-form">
            <GridCol>
                <DynamicComponent Type="accountSection" />
            </GridCol>
        </GridRow>

    </Content>

</Layout>

@code {
    bool collapsed;
}

<style>

    .account-header {
        background-color: #fff;
        padding: 10px 0px 0px 20px;
    }

    .account-form {
        background-color: #fff;
        margin: 10px;
        padding: 20px;
    }

    .account-search {
        padding: 5px 10px 5px 10px;
    }


    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
            margin-top: 8px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .right-actions {
        margin-left: auto;
    }

    .site-layout-content {
        height: 100%;
    }

    .ant-layout {
        height: 100%;
    }

</style>



