@page "/"
@using Automaton.Studio.Models
@using AntDesign

<Layout>
    <Content>
        <Form Loading="loading" 
            Model="@Model"
            LabelColSpan="8"
            WrapperColSpan="16"
            OnFinish="OnFinish"
            OnFinishFailed="OnFinishFailed">
            <FormItem Label="Username">
                <Input @bind-Value="@context.UserName" />
            </FormItem>
            <FormItem Label="Password">
                <InputPassword @bind-Value="@context.Password" />
            </FormItem>
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Checkbox @bind-Value="context.RememberMe">Remember me</Checkbox>
            </FormItem>
            <FormItem WrapperColOffset="8" WrapperColSpan="16">
                <Button Type="@ButtonType.Primary" HtmlType="submit">
                    Submit
                </Button>
            </FormItem>
        </Form>
    </Content>
</Layout>




