@page "/"
@layout MainLayout

<h1>Index</h1>

@code {

    [Inject] Services.ConfigService ConfigService { get; set; }
    [Inject] NavigationManager NavigationManager { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (!ConfigService.IsRunnerRegistered())
        {
            NavigationManager.NavigateTo($"/setup");
        }      
    }
}
