@using Automaton.Studio.Steps
@using Automaton.Studio.Components

<StepDesigner Step=@Step>
    <div>
        <b>@Step.DisplayName</b>
    </div>

    <div>
        Write report into <span class="designer-variable-name">@Step.ReportVariable?.Name</span> variable
    </div>
</StepDesigner>

@code {
    [Parameter]
    public TestReportStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}