@using Automaton.Studio.Steps

<StepDesigner Step=@Step>
    <div>
        <b>@Step.DisplayName</b>
    </div>
    <div>
        Write report as <a href="" @onclick:preventDefault>@Step.ReportVariable.Name</a> variable
    </div>
</StepDesigner>

@code {
    [Parameter]
    public TestReportStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

