@using Automaton.Studio.Models

<div>
    <Row>
        <Col Span="24">
            <div class="activities-header">
                <div>
                    <h2>Activities</h2>
                </div>
                <Search Placeholder="Search activity" Size="@InputSize.Default" OnChange="(e)=>Handle(e)" @bind-Value="@searchText" OnSearch="OnSearch"></Search>
            </div>
        </Col>
    </Row>
    <Row>
        <Col Span="24">
            <Tree ShowIcon
                  DataSource="@TreeActivityViewModel.TreeItems"
                  TitleExpression="x => x.DataItem.DisplayName"
                  ChildrenExpression="x => x.DataItem.Activities"
                  IconExpression="x => x.DataItem.Icon"
                  IsLeafExpression="x => x.DataItem.Activities == null || !x.DataItem.Activities.Any()"
                  KeyExpression="x => x.DataItem.Name"
                  Class="activities-tree"
                  OnNodeDrag="@((i)=> { TreeActivityViewModel.DragActivity(i); })"
                  TItem="TreeActivity">
            </Tree>
        </Col>
    </Row>
</div>

<style>
    .activities-header {
        background-color: #fafafa;
        padding: 5px 10px 5px 8px;
    }

    .activities-tree {
        padding-top: 10px;
        background-color: #fafafa;
        height: calc(100vh - 90px);
        overflow: auto
    }

    .activities-tree-container {
        background-color: #fafafa;
        height: calc(100vh - 55px);
        min-width: 200px;
    }
</style>
