@using Automaton.Studio.Models

<div class="activities-container">
    <Row>
        <Col Span="24">
            <div class="activities-header">
                <h3>Activities</h3>
            </div>
        </Col>
    </Row>
    <Row>
        <div class="activities-search">
            <Search Placeholder="Search activity" Size="@InputSize.Default" OnChange="(e)=>OnSearchChange(e)" @bind-Value="@searchText" OnSearch="OnSearch"></Search>
        </div>
    </Row>
    <Row>
        <Col Span="24">
            <Tree ShowIcon
                  DataSource="@TreeActivityViewModel.TreeItems"
                  TitleExpression="x => x.DataItem.DisplayName"
                  ChildrenExpression="x => x.DataItem.Activities"
                  IconExpression="x => x.DataItem.Icon"
                  IsLeafExpression="x => x.DataItem.Activities == null || !x.DataItem.Activities.Any()"
                  KeyExpression="x => x.DataItem.Name"
                  Class="activities-tree"
                  OnNodeDrag="@((i)=> { TreeActivityViewModel.ActivityDrag(i); })"
                  TItem="TreeActivity">
            </Tree>
        </Col>
    </Row>
</div>

<style>
    .activities-container {
        background-color: #fafafa;
        height: 100%;
    }

    .activities-header {
        background-color: #fff;
        padding: 0px 0px 4px 20px;
    }

    .activities-search {
        padding: 5px 10px 5px 10px;
    }

    .activities-tree {
        padding-top: 10px;
        background-color: #fafafa;
        height: calc(100vh - 150px);
        overflow: auto
    }
</style>
