<Space Class="actions-bar">
    <SpaceItem>
        <Button Shape="link" Icon="save" Class="action-button"><span class="action-label">Save</span></Button>
    </SpaceItem>
    <SpaceItem>
        <Button Shape="link" Icon="caret-right" Class="action-button"><span class="action-label">Play</span></Button>
    </SpaceItem>
    <SpaceItem>
        <Button Shape="link" Icon="pause" Class="action-button"><span class="action-label">Pause</span></Button>
    </SpaceItem>
</Space>

<style>
    .actions-bar {
        padding: 0px 0px 0 10px;
    }

    .action-button {
        padding: 2px;
    }

    .action-label {
        color: #000;
    }

</style>

@code {

}
