<Space Class="actions-bar">
    <SpaceItem>
        <h3>Designer</h3>
    </SpaceItem>
    <SpaceItem>
        <Button Shape="link" Icon="save" Class="action-button"><span class="action-label">Save</span></Button>
    </SpaceItem>
    <SpaceItem>
        <Button Shape="link" Icon="caret-right" Class="action-button"><span class="action-label">Play</span></Button>
    </SpaceItem>
    <SpaceItem>
        <Button Shape="link" Icon="pause" Class="action-button"><span class="action-label">Pause</span></Button>
    </SpaceItem>
</Space>

<style>
    .action-button {
        margin-bottom: 13px;
    }
</style>