@page "/stepdesigner/{stepId}"
@using AntDesign

<Layout>
    <Header Class="header">
        <Row>
            <Col Flex=@("none") Class="page-title">
                <Space Size="@AntSizeLDSType.Large">
                    <SpaceItem>
                        <h3>Step Designer</h3>
                    </SpaceItem>
                    <SpaceItem>
                    <Button Class="save-button" Icon="save" OnClick="Save">
                            Save
                    </Button>
                    </SpaceItem>
                </Space>
            </Col>

            <Col Class="right-actions">
                <Space Class="right-header-items"></Space>
            </Col>
        </Row>

    </Header>

    <Content>

        <GridRow Justify="left" Align="left" Class="steps-header">
            <GridCol>
                <Steps Current=currentStepSection OnChange=OnStepsChange>
                    <Step Title="Step 1" Description="This is a description." />
                    <Step Title="Step 2" Description="This is a description." />
                    <Step Title="Step 3" Description="This is a description." />
                </Steps>
            </GridCol>
        </GridRow>

        <GridRow Justify="left" Align="left" Class="steps-form">
            <GridCol>
                <DynamicComponent Type="stepSection" Parameters="customStepParameters" />
            </GridCol>
        </GridRow>
    </Content>
</Layout>

<style>
    .save-button {
        margin-bottom: 15px;
    }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .right-actions {
        margin-left: auto;
    }

    .steps-header {
        background: #fff;
        margin-bottom: 5px;
        padding: 20px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
    }

    .steps-form {
        background-color: #fff;
        margin-top: 5px;
        padding: 20px;
    }

</style>



