@using AntDesign

<div class="@Step.Class" style="margin-left: @Step.GetMargin()px">
    <Row Align="middle">
        <Col Flex=@("none")>
        <div class="designer-step-icon-container">
            <Icon Type="@Step.Icon" Theme="outline" />
        </div>
        </Col>
        <Col Flex=@("auto")>
            <div>
                <b>@Step.DisplayName</b>
            </div>

            @ChildContent
        </Col>
    </Row>
</div>

<style>

    .designer-sequence-end-step {
        padding: 1em;
        width: fit-content;
        margin: 0px 10px 0px 10px;
        background-color: #DBE9FF;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
    }

    .designer-sequence-end-step-selected {
        padding: 1em;
        width: fit-content;
        margin: 0px 10px 0px 10px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        background-color: #B4D2FF;
    }

    .designer-sequence-end-step-disabled {
        padding: 1em;
        display: block;
        width: fit-content;
        margin: 0px 10px 0px 10px;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 1px 1px 5px 2px rgba(179,179,179,0.46);
        background-color: #EFEFEF;
        opacity: 0.5;
    }
</style>

