@using Automaton.Studio.Steps

<StepDesigner Step=@Step>
    <div>
        <b>@Step.DisplayName</b>
    </div>
    <div>
        Execute <a href="" @onclick:preventDefault>@Step.FlowName</a> flow
    </div>
</StepDesigner>

@code {
    [Parameter]
    public ExecuteWorkflowStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

