@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components

<Layout Class="layout">

    <Sider Theme="SiderTheme.Dark" Collapsed="true" Class="left-sider">
        <NavMenu/>
    </Sider>

    <Layout Class="site-layout">
        <Content>
            <div class="site-layout-content">@Body</div>
        </Content>
    </Layout>
</Layout>

<style>
    .site-layout {
        padding: 3px 3px 3px 3px;
    }

    .sidebar {
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 48px;
        overflow: hidden;
    }

        .sidebar a {
            padding: 6px 14px 10px 14px;
            text-decoration: none;
            display: block;
            color: #fff;
        }

            .sidebar a:hover {
                background-color: #666;
            }

            .sidebar a:active {
                color: #ddd;
            }

    .left-sider {
        overflow: auto;
        height: 100vh;
        max-width: 55px !important;
        min-width: 55px !important;
    }

        .left-sider .ant-menu-item {
            padding-left: 17px !important;
        }

        .left-sider .ant-menu .ant-menu-root {
            max-width: 55px !important;
        }
    
</style>
