@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components

<Layout Class="main-layout">

    <AuthorizeView>
        <Sider Theme="SiderTheme.Dark">
            <NavMenu />
        </Sider>
    </AuthorizeView>

    <Layout>
        <Content>
            <Space Size="@AntSizeLDSType.Large" Class="main-header">
                <SpaceItem>
                </SpaceItem>
            </Space>
            <div class="site-layout-content">@Body</div>
        </Content>
    </Layout>
</Layout>
