@inherits LayoutComponentBase

@using Microsoft.AspNetCore.Components

<Layout Class="layout">

    <Sider Theme="SiderTheme.Light" Collapsed="true" Class="left-sider">
        <NavMenu/>
    </Sider>

    <Layout Class="site-layout">
        <Content>
            <div class="site-layout-content">@Body</div>
        </Content>
    </Layout>
</Layout>

<style>
    .site-layout {
        padding: 3px 3px 3px 3px;
    }

    .left-sider {
        overflow: auto;
        height: 100vh;
        max-width: 50px !important;
        min-width: 50px !important;
    }

        .left-sider .ant-menu-item {
            padding-left: 17px !important;
        }

        .left-sider .ant-menu .ant-menu-root {
            max-width: 50px !important;
        }

        .left-sider .ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
            border-right: 1px solid #fff;
        }
    
</style>
