@using Automaton.Studio.Domain
@using Automaton.Core.Models

<div class="step-output-variable">

    @if (editing)
    {
        <Input Type="text" @bind-Value="@Variable.Name" OnBlur="StopEdit" OnPressEnter="OnPressEnter" AutoFocus />
    }
    else
    {
        <span @onclick:preventDefault class="designer-variable-name" @onclick="()=>StartEdit()">@Variable.Name</span>
    }

    <Tooltip Title="@Variable.Description">
        <Icon Type="question-circle" Theme="outline" />
    </Tooltip>

</div>

@code {
    private bool editing;
    private string originalName;

    [Parameter]
    public StepVariable Variable { get; set; }

    [Parameter]
    public StudioStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void OnPressEnter()
    {
        StopEdit();
    }

    private void StartEdit()
    {
        originalName = Variable.Name;

        editing = true;
    }

    private void StopEdit()
    {
        Step.UpdateOutputVariable(originalName, Variable);

        editing = false;
    }
}

<style>
    .designer-variable-name {
        color: #1890FF;
        background-color: #E6F0FF;
        padding: 3px 5px;
        border-radius: 10px;
    }

        .designer-variable-name:hover {
            outline: 1px solid #1890FF;
            outline-offset: -1px;
        }

    .properties-variable-description {
        padding-left: 5px;
    }

    .step-output-variable {
        padding: 2px 0 4px 0;
    }
</style>
