@using AntDesign
@using Automaton.Studio.Steps
<div>
    <StepDescription Step="@Step"></StepDescription>
</div>

<div Class="step-properties-container">
    @ChildContent
</div>

@if (Step.ShowVariables && Step.Outputs.Any())
{
    <div>
        <StepOutputVariables Step="@Step" />
    </div>
}

<style>
    .step-properties-container {
        padding: 15px 0px 0px 0px;
    }
</style>
