@inherits LayoutComponentBase

<PageTitle>Automaton Studio API</PageTitle>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
