@using Automaton.Studio.Core

<DesignerActivityComponent Activity=@Activity>
    <div>
        <b>@Activity.Descriptor.DisplayName</b>
    </div>
    <div>
        Evaluates <a href="" @onclick:preventDefault>'@Activity.Condition'</a>
    </div>
</DesignerActivityComponent>

@code {
    [Parameter]
    public IfActivity Activity { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
}

