@using Automaton.Studio.Domain
@using Automaton.Core.Models

@if (editing)
{
    <Input Type="text" @bind-Value="@Variable.Name" OnBlur="StopEdit" OnPressEnter="OnPressEnter" AutoFocus />
}
else
{
    <span @onclick:preventDefault class="designer-variable-name" @onclick="()=>StartEdit()">@Variable.Name</span>
}

@code {
    private bool editing;

    [Parameter]
    public StepVariable Variable { get; set; }

    [Parameter]
    public StudioStep Step { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private void OnPressEnter()
    {
        StopEdit();
    }

    private void StartEdit()
    {
        Variable.OldName = Variable.Name;

        editing = true;
    }

    private void StopEdit()
    {
        if (Variable.VariableNameIsNotTheSame())
        {
            Step.SetVariable(Variable);

            editing = false;
        }
    }
}

<style>
   
    .designer-variable-name {
        color: #1890FF;
        background-color: #E6F0FF;
        padding: 2px 5px;
        border-radius: 10px;
    }

        .designer-variable-name:hover {
            outline: 1px solid #1890FF;
            outline-offset: -1px;
        }
</style>
