<div class="console-activity">
    <Row>
        <Col Flex=@("none")>
            <div class="icon-container">
                <Icon Type="form" Theme="outline" />
            </div>
        </Col>

        <Col Flex=@("auto")>
            @Activity.Text
        </Col>

        <Col Class="options">
            <div class="icon-container"><Icon Type="more" Theme="outline" /></div>
        </Col>
    </Row>
</div>

@code {
    [Parameter]
    public WriteLineActivity Activity { get; set; }
}

<style>
    .icon-container {
        padding: 0 16px;
    }

    .options {
        margin-left: auto;
    }
</style>
