<div class="console-activity">
    <Row>
        <Col Flex=@("none")>
            <div class="icon-container">
                <Icon Type="form" Theme="outline" Class="icon" />
            </div>
        </Col>

        <Col Flex=@("auto")>
            @Activity.Name
        </Col>

        <Col Class="options">
            <div class="icon-container"><Icon Type="more" Theme="outline" Class="icon" /></div>
        </Col>

    </Row>
</div>

@code {

    [Parameter]
    public WriteLineActivity Activity { get; set; }
}

<style>
    .icon-container {
        padding: 0 16px;
    }

    .icon {
        font-size: 18px;
    }

    .options {
        margin-left: auto;
    }
</style>
