<div class="console-activity">
    <Row>
        <Col Flex=@("none")>
            <div style="padding: 0 16px">
                <Icon Type="form" Theme="outline" Style="font-size: 18px" />
            </div>
        </Col>

        <Col Flex=@("auto")>
            @Activity.Name
        </Col>

        <Col style="margin-left: auto;">
            <div style="padding: 0 16px"><Icon Type="more" Theme="outline" Style="font-size: 18px" /></div>
        </Col>

    </Row>
</div>

@code {

    [Parameter]
    public WriteLineActivity Activity { get; set; }

}
