@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components
@using Automaton.Studio.Components

<Layout Class="layout">

    <Sider Theme="SiderTheme.Dark" Collapsible="false" Collapsed="true" CollapsedWidth="48" Class="side-layout">

        <div class="logo"></div>

        <div class="sidebar">
            <div>
                <a href="" title="Dashboard"><Icon Type="dashboard" Theme="outline" Class="side-icon" /></a>
            </div>

            <div>
                <a href="designer" title="Designer"><Icon Type="partition" Theme="outline" Class="side-icon" /></a>
            </div>

            <div>
                <a href="workflows" title="Workflows"><Icon Type="profile" Theme="outline" Class="side-icon" /></a>
            </div>
        </div>
    </Sider>

    <Layout Class="site-layout">
        <Header Class="header">

            <Row>
                <Col Flex=@("none")>
                <DynamicActionBar ActionBar=@MainLayoutViewModel.ActionBar></DynamicActionBar>
                </Col>

                <Col Class="right-actions">
                <Space Class="right-header-items">
                    <SpaceItem>
                        <Button Shape="link" Icon="question-circle" Class="action-button">
                            <span class="action-label">Help</span>
                        </Button>
                    </SpaceItem>
                    <SpaceItem>
                        <form method="post" action="Identity/Account/LogOut">
                            <Button Shape="link" HtmlType="submit" Icon="logout" Class="action-button">
                                <span class="action-label">Logout</span>
                            </Button>
                        </form>
                    </SpaceItem>
                </Space>
                </Col>

            </Row>

        </Header>

        <Content>
            <div class="site-layout-content">@Body</div>
        </Content>

    </Layout>
</Layout>

<style>
    .site-layout {
        padding: 0 5px 5px 5px;
    }

    .sidebar {
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 48px;
        overflow: hidden;
    }

        .sidebar a {
            padding: 6px 14px 10px 14px;
            text-decoration: none;
            display: block;
            color: #fff;
        }

            .sidebar a:hover {
                background-color: #666;
            }

            .sidebar a:active {
                color: #ddd;
            }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

    .right-actions {
        margin-left: auto;
    }

    .side-icon {
        font-size: 20px;
    }

    .side-layout {
        overflow: auto;
        height: 100vh;
    }

    .actions-bar {
        padding: 0px 0px 0 10px;
    }

    .action-button {
        padding: 2px;
    }

    .action-label {
        color: #000;
    }
</style>