.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1;
}

.site-layout-content {
    background: #fff;
}

.logo {
    height: 31px;
    min-height: 48px;
    margin: auto;
    color: white;
}
