@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components

<Layout Class="layout">

    <Sider Theme="SiderTheme.Dark" Collapsible Collapsed=true Class="side-layout">
        <Menu Mode=MenuMode.Inline
              Theme=MenuTheme.Dark Selectable=true DefaultSelectedKeys=@(new[]{"1"})>
            <MenuItem Key="1" Icon="pie-chart">
                <MenuLink Href="" Class="menu-link">
                    Dashboard
                </MenuLink>
            </MenuItem>
            <MenuItem Key="2" Icon="profile">
                <MenuLink Href="workflows" Class="menu-link">
                    Workflows
                </MenuLink>
            </MenuItem>
            <MenuItem Key="3" Icon="desktop">
                <MenuLink Href="designer" Class="menu-link">
                    Designer
                </MenuLink>
            </MenuItem>
            <MenuItem Key="4" Icon="logout" OnClick="@(() => Logout())">
                Logout
            </MenuItem>
        </Menu>
    </Sider>

    <form id="logoutForm" method="post" action="Identity/Account/LogOut">
    </form>

    <Layout Class="site-layout">
        <Content>
            <div class="site-layout-content">@Body</div>
        </Content>
    </Layout>
</Layout>

<style>
    .site-layout {
        padding: 0 5px 5px 5px;
    }

    .sidebar {
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 48px;
        overflow: hidden;
    }

        .sidebar a {
            padding: 6px 14px 10px 14px;
            text-decoration: none;
            display: block;
            color: #fff;
        }

            .sidebar a:hover {
                background-color: #666;
            }

            .sidebar a:active {
                color: #ddd;
            }

    .header {
        background: #fff;
        margin-bottom: 5px;
        height: 48px;
        line-height: 48px;
        width: 100%;
        box-shadow: 0 0px 1.5px rgba(0, 0, 0, 0.004), 0 0px 9px rgba(0, 0, 0, 0.07);
        padding: 0 20px 0 0;
    }

        .header .right-header-items {
            float: right;
            padding-right: 10px;
        }

        .header .page-title {
            padding-left: 20px;
        }

    .right-actions {
        margin-left: auto;
    }

    .side-layout {
        overflow: auto;
        height: 100vh;
    }

    .actions-bar {
        padding: 0px 0px 0 10px;
    }

    .menu-link {
        color: #FFF;
    }
</style>