@inherits LayoutComponentBase

<Layout Class="layout">
    <Header>
        <div class="logo" />
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Horizontal" DefaultSelectedKeys=@(new[]{"3"})>
            <MenuItem Key="1" RouterLink="">Home</MenuItem>
            <MenuItem Key="2" RouterLink="designer">Designer</MenuItem>
            <MenuItem Key="3" RouterLink="workflows">Workflows</MenuItem>
            <MenuItem Key="4" Style="float:right"><LoginDisplay /></MenuItem>
        </Menu>
    </Header>
    <Content Style="padding: 0 0px;">
        <div class="site-layout-content">@Body</div>
    </Content>
    <Footer Style="text-align: center; ">Automaton Studio ©2021</Footer>
</Layout>

<style>
    .site-layout-content {
        background: #fff;
        padding: 24px;
        min-height: 280px;
    }

    .logo {
        width: 31px;
        height: 31px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px 24px 16px 0;
        float: left;
    }
</style>

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>*@
